@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Mona Sans";
	src: url("../assets/Mona-Sans.woff2") format("woff2");
}

@media (min-resolution: 200dpi) {
	html {
		font-size: 18px;
	}

	.text-sm {
		/* ensure minimum font size of 16px */
		font-size: 0.9rem;
	}
}

body {
	@apply bg-white dark:bg-zinc-900;
	color-scheme: dark light;
}
